<!doctype html>
<html language="en">
<head>
    <meta charset="UTF-8">
    <title>ExpertOption</title>
    <link rel="stylesheet" href="/css/project.css?v={{version}}">
</head>
<body>
    <main id="app"></main>
    <script src="/app.js?={{version}}"></script>
</body>
</html>